:root {
    --main-color: #41B3A3
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-main {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-main:hover {
    color: #fff;
    background-color: #25a99a;
    border-color: #25a99a;
}

.spinner-main {
    color: var(--main-color);
}

.form-control:focus{
    border-color: #25a99a;
    box-shadow: 0 0 0 0.1rem var(--main-color);
}

.form-select:focus{
    border-color: #25a99a;
    box-shadow: 0 0 0 0.1rem var(--main-color);
}

.form-control-error{
    border-color: #d50000;
    box-shadow: 0 0 0 0.1rem #d50000;
}

.form-control-error:focus{
    border-color: #d50000;
    box-shadow: 0 0 0 0.1rem #d50000;
}

.my-alert {
    position: absolute;
    width: 22%;
    bottom: 2px;
    right: 10px;
}

.opacity-95 {
    opacity: 95%
}

.border-radius-10 {
    border-radius: 10px;
}

.black-to-main {
    filter: invert(61%) sepia(10%) saturate(2330%) hue-rotate(122deg) brightness(100%) contrast(82%);
}

.main-color {
    color: var(--main-color);
}

.main-color:hover {
    color: var(--main-color);
}

.panel-scroll {
    overflow-y: scroll;
    height: 105px;
}

.panel-scroll::-webkit-scrollbar {
    width: 0.6rem;
}

.panel-scroll::-webkit-scrollbar-thumb {
    background-color: lightgray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px;  /* creates padding around scroll thumb */
}

.product-item {
    cursor: pointer;
}

.product-item-param {
    background-color: #fafafa;
    border-radius: 10px;
    font-size: small;
}
